{% extends "base.html" %}
{% load social_share %}
{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="row g-0">
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/dhyy9pzrd/image/upload/v1653761818/header-image_q71tuy.jpg"
                    width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
        <div class="row m-2 g-0 justify-content-md-center">
            <div class="col-md-auto masthead-text text-center justify-content-md-center">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} // {{ post.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top" id="card-style">
            <div class="card-body mb-3">
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                    {% post_to_twitter "New blog post: Check it out!" object_or_url "<p class='twitter'>Share to Twitter</p>" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div>
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}